.button {
  border-radius: var(--border-radius);
  display: inline-flex;
  gap: 23px;
  padding-left: 13px;
  width: 321px;
  min-width: 321px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  white-space: nowrap;

  @include tablet {
    width: 248px;
    min-width: 248px;
    height: 44px;
    font-size: 18px;

    & svg {
      width: 30px;
    }
  }
}
